.app {
	border-bottom: 1px solid #ddd;
	padding: 12px 24px;
	background-color: #f7f7f9;
}

.app:first-child{
	border-top: 1px solid #ddd;
}

.app:hover{
	background-color: #BCE8D2;
}

form{
	margin: 24px 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}