<div class="container">
	<h1 style="text-align: center;">SmartMed</h1>

	<h3>Appointments</h3>

	<div class="row" *ngIf="_appointments.length == 0">
		<div class="alert alert-info">
			There are no appointments scheduled. Please add a new appointment.
		</div> 
	</div>

	<div class="row">
		<div class="app col-lg-12" *ngFor="#app of _appointments, #i = index"
		[ngClass]="{selected:_selected[i]}">
			<div class="col-lg-2 form-group">
				<label>Time</label>
				<p>{{app.time}}</p>
			</div>
			<div class="col-lg-2 form-group">
				<label>Name</label>
				<p>{{app.name}}</p>	
			</div>
			<div class="col-lg-2 form-group">
				<label>Phone</label>
				<p>{{app.phone}}</p>
			</div>
			<div class="col-lg-5 form-group">
				<label>notes</label>
				<p>{{app.notes}}</p>
			</div>	
			<div class="row">
				<div class="col-lg-12">
					<button class="btn btn-primary" (click)="removeApp(i)">Delete</button>
					<button class="btn btn-danger" (click)="select(i)">{{_selected[i] ? 'Deselect' : 'Select'}}</button>	
				</div>
			</div>
			
		</div>	
	</div>

	<div class="row">
		<form class="col-lg-12">
			<h3>Add new appointment</h3>
			<div class="form-group col-lg-4">
				<label for="time">Time</label>
				<input class="form-control" type="text" name="time" id="time" value="" #time>
			</div>
			
			<div class="form-group col-lg-4">
				<label for="name">Name</label>
				<input class="form-control" type="text" name="name" id="name" value="" #name>
			</div>		

			<div class="form-group col-lg-4">
				<label for="phone">Phone</label>
				<input class="form-control" type="text" name="phone" id="phone" value="" #phone>
			</div>
			
			<div class="form-group col-lg-12">
				<label for="notes">Notes</label>
				<input class="form-control" type="text" name="notes" id="notes" value="" #notes>
			</div>

			<br/>
			
			<div class="form-group createButton col-lg-12">
				<button class="btn btn-primary" (click)="createApp(time,name,phone,notes)">Create</button>
			</div>
		</form>
	</div>
</div>

